<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="login-box">
    <h1>Cool Café</h1>
    <form method="" action="/site">
        <div class="textbox">

            <i class="fas fa-lock"></i>
            <input type="text" placeholder="Username" name="username" value="">
        </div>
        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" value="">
        </div>

        <input class="btn" type="submit" value="Login">
    </form>
    <a href="/newUser">
        <input class="create user" type="button" value="Create a user">
    </a>
</div>

</body>
</html>