<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="login-box">
    <h1>Create a user</h1>
    <form method="" action="/createUser">
        <div class="textbox">

            <i class="fas fa-lock"></i>
            <input type="text" placeholder="Username" name="username" value="">
        </div>
        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" value="">
        </div>

        <input class="btn" type="submit" value="Create User">
    </form>

</div>

</body>
</html>